torch==1.13.0
torchvision==0.14.0
numpy>=1.23.5
scikit-learn>=1.3.2
faiss-gpu==1.7.3  # pip max is 1.7.2 (incompatible with this project); install via conda (see environment.yml)
infomap==2.7.1
tqdm>=4.65.0
timm==0.4.12
Pillow>=9.4.0
